@model TourismWeb.Models.SpotShare

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SpotShare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpotId" class="control-label"></label>
                <select asp-for="SpotId" class ="form-control" asp-items="ViewBag.SpotId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SharedOn" class="control-label"></label>
                <select asp-for="SharedOn" class="form-control">
                    <option value="">-- Chọn nền tảng chia sẻ --</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Email">Email</option>
                </select>
                <span asp-validation-for="SharedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
