<h1>Hướng dẫn Yêu cầu Xóa Dữ liệu Người dùng</h1>
<p>Chúng tôi tôn trọng quyền riêng tư của bạn. Để yêu cầu xóa dữ liệu cá nhân mà TourismWeb đã thu thập từ tài khoản
    Facebook của bạn, vui lòng thực hiện một trong các cách sau:</p>
<ul>
    <li>Gửi email đến địa chỉ: support@yourtourismweb.com với tiêu đề "Yêu cầu xóa dữ liệu Facebook" và cung cấp User ID
        Facebook của bạn (nếu bạn biết) hoặc email bạn đã dùng để đăng nhập.</li>
    <li>(Nếu bạn có tính năng này trong ứng dụng) Truy cập trang Cài đặt Tài khoản của bạn trên TourismWeb và làm theo
        hướng dẫn để xóa tài khoản và dữ liệu liên quan.</li>
</ul>
<p>Chúng tôi sẽ xử lý yêu cầu của bạn trong thời gian sớm nhất có thể, theo quy định của pháp luật và chính sách của
    chúng tôi.</p>
<p>Xin cảm ơn.</p>