@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

}
@{
    ViewData["Title"] = "Trang chủ";
}
@await Html.PartialAsync("_Carousel")


<p>Vai trò hiện tại: @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</p>

<section class="mt-4">
    <div class="container">
        <h2 class="text-center">Khám phá miền Trung</h2>
        <p class="text-center">Những điểm đến hấp dẫn không thể bỏ lỡ</p>

        <div class="row">
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/danang.jpg" class="card-img-top" alt="Đà Nẵng">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">ĐÀ NẴNG</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/hue.jpg" class="card-img-top" alt="Huế">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">HUẾ</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/hoian.jpg" class="card-img-top" alt="Hội An">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">HỘI AN</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/phongnha.jpg" class="card-img-top" alt="Quảng Bình">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">QUẢNG BÌNH</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/nhatrang.jpg" class="card-img-top" alt="Nha Trang">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">NHA TRANG</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card tour-card">
                    <img src="/images/phuyen.jpg" class="card-img-top" alt="Phú Yên">
                    <div class="card-body text-center">
                        <h5 class="card-title text-warning">PHÚ YÊN</h5>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="swiper-container">
            <h2 class="text-center">Bài viết gần đây</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="post-container">
                        <div class="post">
                            <img src="/images/hue.jpg" alt="Bài viết 1">
                            <a href="#">Kinh thành Huế</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="post-container">
                        <div class="post">
                            <img src="/images/danang2.webp" alt="Bài viết 2">
                            <a href="#">Đà Nẵng</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="post-container">
                        <div class="post">
                            <img src="/images/hoian2.jpg" alt="Bài viết 3">
                            <a href="#">Hội An</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="post-container">
                        <div class="post">
                            <img src="/images/nhatrang.jpg" alt="Bài viết 4">
                            <a href="#">Nha Trang</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="post-container">
                        <div class="post">
                            <img src="/images/quangbinh2.jpg" alt="Bài viết 5">
                            <a href="#">Quảng Bình</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nút điều hướng -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <!-- Chấm tròn pagination -->
            <div class="swiper-pagination"></div>
        </div>
        @await Html.PartialAsync("_Review")
        <section class="guide-wrapper">
            <div class="guide-section">
                <div class="container"></div>
                <h2><b>Cẩm Nang Du Lịch Miền Trung từ A - Z</b></h2>
                <div class="divider">
                    <hr>
                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="guide-container">
                <div class="card">
                    <img src="~/images/danang2.webp" class="card-img-top" alt="Đà Nẵng">
                    <div class="card-body">
                        <h5 class="card-title"><b>Đà Nẵng - Thành phố đáng sống với những bãi biển tuyệt đẹp</b></h5>
                        <p class="guide-date">31 tháng Mười Hai, 2024</p>
                        <p class="card-text">Giới thiệu sơ lược về đảo Bình Ba...</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/images/hue.jpg" class="card-img-top" alt="Huế ">
                    <div class="card-body">
                        <h5 class="card-title"><b>Khám phá vẻ đẹp cổ kính của Đại Nội Huế - Kinh đô của triều Nguyễn</b>
                        </h5>
                        <p class="guide-date">31 tháng Mười Hai, 2024</p>
                        <p class="card-text">Khung cảnh tuyệt đẹp, văn hóa đặc sắc...</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/images/hoian.jpg" class="card-img-top" alt="Hội An">
                    <div class="card-body">
                        <h5 class="card-title"><b>Phố cổ Hội An: Bước chân vào ký ức thương cảng sầm uất một thời</b>
                        </h5>
                        <p class="guide-date">31 tháng Mười Hai, 2024</p>
                        <p class="card-text">Khám phá những điểm đến đẹp nhất...</p>
                    </div>
                </div>
            </div>
            </div>
        </section>


    </section>
